# Set in Python

* Sets are used to store multiple items in a single variable.
* A set is a collection which is unordered, unchangeable, and unindexed.
* Set items are unchangeable, meaning that we cannot change the items after the set has been created.
* Sets cannot have two items with the same value.

In [1]:
x = {11, 25.2, 4+3j, 'Harsh', print, range, True}

print(x, type(x), len(x), hex(id(x)), sep ='\n')

{True, 'Harsh', <built-in function print>, 11, (4+3j), 25.2, <class 'range'>}
<class 'set'>
7
0x13285d41700

#### Empty set

In [2]:
x = set()

print(x, type(x), len(x), hex(id(x)), sep ='\n')

set()
<class 'set'>
0
0x13285d41d20

### Create a Set in Python
* In Python, we create sets by placing all the elements inside curly braces {}, separated by comma.
* there are two ways to create a set -
    * by using curly braces {}
    * by using `set()`

In [6]:
x = {11,22,33,44,55,66,'Harshit'}

print(x, type(x), len(x), hex(id(x)), sep ='\n')

{33, 66, 'Harshit', 22, 55, 11, 44}
<class 'set'>
7
0x13285d41a80

In [8]:
x = set([11,22,33,44,55,'harsh'])

print(x, type(x), len(x), hex(id(x)), sep ='\n')

{33, 11, 44, 22, 55, 'harsh'}
<class 'set'>
6
0x13285d419a0

In [9]:
a = {1,2,1,3,1,4,1,5} #Sets cannot have two items with the same value
print(a)

{1, 2, 3, 4, 5}

In [10]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

## Methods of set

### add()

* The add() method adds an element to the set.

* If the element already exists, the add() method does not add the element.


* Syntax
    * set.add(elmnt)

In [11]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [12]:
x = set()
print(x)

set()

In [13]:
x.add(25)
print(x)

{25}

In [14]:
x.add(35)
print(x)

{25, 35}

### update()

* The update() method updates the current set, by adding items from another set.

* If an item is present in both sets, only one appearance of this item will be present in the updated set.

* Syntax
    * set.update(set)

In [15]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [16]:
x = {1,2,3}

x.update((5,15))
print(x)

{1, 2, 3, 5, 15}

In [18]:
x.update((10,11))
print(x)

{1, 2, 3, 5, 10, 11, 15}

### remove()

* The remove() method removes the specified element from the set.
* This method is different from the discard() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

* Syntax
    * set.remove(item)

In [19]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [20]:
x = {10,20,30,40}

x.remove(20)
print(x)

{40, 10, 30}

In [ ]:
# x.remove(1) # uncomment to see the error
# x

### discard()

* The discard() method removes the specified item from the set.

* This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

* Syntax
    * set.discard(value)

In [21]:
help(set.discard)

Help on method_descriptor:

discard(...)
    Remove an element from a set if it is a member.

    Unlike set.remove(), the discard() method does not raise
    an exception when an element is missing from the set.

In [22]:
x = {10,20,30,40}

x.discard(20)
print(x)

{40, 10, 30}

In [23]:
x.discard(20)
print(x)

{40, 10, 30}

### pop()

* The pop() method removes a random item from the set.

* This method returns the removed item.

* Syntax
    * set.pop()

In [24]:
help(set.pop)

Help on method_descriptor:

pop(...)
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [25]:
x = {10,20,30,40,50,60,70}

x.pop()
print(x)

{20, 70, 40, 10, 60, 30}

### clear()

* The clear() method removes all elements in a set.


* Syntax
    * set.clear()

In [27]:
help(set.clear)

Help on method_descriptor:

clear(...)
    Remove all elements from this set.

In [28]:
x = {10,20,30,40}

x.clear()
print(x)

set()

### isdisjoint()

* The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.


* Syntax
    * set.isdisjoint(set)

In [2]:
help(set.isdisjoint)

Help on method_descriptor:

isdisjoint(...)
    Return True if two sets have a null intersection.

In [23]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}

a.isdisjoint(b)

False

###  issuperset()

* The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it returns False.

* Syntax
    * set.issuperset(set)

In [6]:
help(set.issuperset)

Help on method_descriptor:

issuperset(...)
    Report whether this set contains another set.

In [25]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}
c = set(range(11,99))

c.issuperset(a)

True

###  issubset()

* The issubset() method returns True if all items in the set exists in the specified set, otherwise it returns False.


* Syntax
    * set.issubset(set)

In [7]:
help(set.issubset)

Help on method_descriptor:

issubset(...)
    Report whether another set contains this set.

In [26]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}
c = set(range(11,99))

a.issubset(c)

True

### intersection()

* The intersection() method returns a set that contains the similarity between two or more sets.

* Syntax
    * set.intersection(set1, set2 ... etc)

In [10]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [27]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}

a.intersection(b)

{44, 55}

In [28]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}
c = set(range(11,99))
d = {'a','b','c'}

a.intersection(d)

set()

### union()

* The union() method returns a set that contains all items from the original set, and all items from the specified set.

* Syntax
    * set.union(set1, set2...)

In [13]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [29]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}

a.union(b)

{11, 22, 33, 44, 55, 66, 77, 88}

### difference()

* The difference() method returns a set that contains the difference between two sets.

* Syntax
    * set.difference(set)

In [15]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [30]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}

a.difference(b)

{11, 22, 33}

In [31]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}

b.difference(a)

{66, 77, 88}

### symmetric_difference()

* The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.

* Syntax
    * set.symmetric_difference(set)

In [20]:
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [32]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}

a.symmetric_difference(b)

{11, 22, 33, 66, 77, 88}

In [33]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}

b.symmetric_difference(a)

{11, 22, 33, 66, 77, 88}

### difference_update()

* The difference_update() method removes the items that exist in both sets.

* The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.


* Syntax
    * set.difference_update(set)

In [34]:
help(set.difference_update)

Help on method_descriptor:

difference_update(...)
    Remove all elements of another set from this set.

In [36]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}

a.difference_update(b)
a

{11, 22, 33}

In [37]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}

b.difference_update(a)
b

{66, 77, 88}

### intersection_update()

* The intersection_update() method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).

* The intersection_update() method is different from the intersection() method, because the intersection() method returns a new set, without the unwanted items, and the intersection_update() method removes the unwanted items from the original set.

* Syntax
    * set.intersection_update(set1, set2 ...)

In [38]:
help(set.intersection_update)

Help on method_descriptor:

intersection_update(...)
    Update a set with the intersection of itself and another.

In [40]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}

a.intersection_update(b)
a

{44, 55}

In [39]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}

b.intersection_update(a)
b

{44, 55}

### symmetric_difference_update()

* The symmetric_difference_update() method updates the original set by removing items that are present in both sets, and inserting the other items.

* Syntax
    * set.symmetric_difference_update(set)

In [41]:
help(set.symmetric_difference_update)

Help on method_descriptor:

symmetric_difference_update(...)
    Update a set with the symmetric difference of itself and another.

In [42]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}

a.symmetric_difference_update(b)
a

{11, 22, 33, 66, 77, 88}

In [43]:
a = {11,22,33,44,55}
b = {44,55,66,77,88}

b.symmetric_difference_update(a)
b

{11, 22, 33, 66, 77, 88}

# Dictionary in Python

* dictionaries are key & value pairs enclosed in {}

* key and value are seperated by : while key and value pairs are seperated by ,

* keys are mapped to their values

* In dictionaries, keys are unique, we can't have duplicate keys, we can have duplicate values.

* dictionaries are unordered & mutable. keys of dictionaries can be used to iterate over values

* {} is an empty dictionary

* dict is class of dictionary

In [53]:
x = {2:[11,2.3,44],
    'hi':(25,35,45),
    ('a','b'):50,
    'name':'harshit'}

print(x, type(x), sep = '\n')

{2: [11, 2.3, 44], 'hi': (25, 35, 45), ('a', 'b'): 50, 'name': 'harshit'}
<class 'dict'>

In [46]:
x = {2:[11,2.3,44],
    'hi':(25,35,45),
    'hi':50}

print(x)

{2: [11, 2.3, 44], 'hi': 50}

### Create a dictionary

* dictionaries are key & value pairs enclosed in {}, key and value are seperated by`:` while key and value pairs are seperated by `,`

In [56]:
x = {} #empty dictionary

print(x, type(x), sep = '\n')

{}
<class 'dict'>

In [55]:
x = dict()
print(x, type(x), sep = '\n')

{}
<class 'dict'>

### Accessing Items
* You can access the items of a dictionary by referring to its key name, inside square brackets.

In [49]:
x = {2:[11,2.3,44],
    'hi':(25,35,45),
    ('a','b'):50,
    'name':'harshit'}

print(x['hi'])

(25, 35, 45)

In [50]:
print(x['hi'][1])

35

In [52]:
x = {2:[11,2.3,44],
    'hi':(25,35,45),
    ('a','b'):50,
    'name':'harshit'}

print(x['name'][4])

h